/* Import all stylesheets in order */

/* 1. Variables and Utilities */
@import "utils/variables.css";
@import "utils/utilities.css";

/* 2. Layout Components */
@import "layout/header.css";
@import "layout/menu.css";
@import "layout/section.css";
@import "layout/footer.css";
@import "bouton.css";
@import "/src/css/timeline-carousel.css";

/* 3. Component-specific Styles */
@import "components/hero.css";
@import "components/biography.css";
@import "components/articles.css";
@import "components/carousel.css";
@import "components/film-card.css";
@import "components/timeline.css";

@import "components/about.css";
@import "components/contact.css";
@import "components/glossary.css";

/* 4. Vendor Prefixes and Normalizations */
@import "vendors/normalize.css";
